<div class="container">
  <div class="row align-items-center mt-4">
    <div class="col align-self-center">
      <div class="card" >
          <div class="card-header">
            <strong>Registrarse</strong>
            <!-- <small>Form</small> -->
          </div>
          <div class="card-body">
            <form [formGroup]="ngForm">
              <div class="row">
                <!-- <div class="form-group col-6">
                  <label for="userType">Tipo</label>
                  <select formControlName="userType" name="userType" id="userType" class="form-control">
                    <option value="" disabled>Seleccione si es propietario o arrendatario</option>
                    <option value="OWNER">Propietario</option>
                    <option value="LESSEE">Arrendatario</option>
                  </select>
                </div> -->
                <div class="form-group col">
                  <label for="email">Email</label>
                  <input formControlName="email" type="text" class="form-control" id="email" placeholder="Ingrese su email">
                </div>
                <div class="form-group col">
                  <label for="rut">Rut</label>
                  <input formControlName="rut" formatRut validateRut type="text" class="form-control" id="rut" placeholder="Ingrese su rut">
                </div>
              </div>
              <div class="row">
                <div class="form-group col">
                  <label for="password">Passsword</label>
                  <input formControlName="password" type="password" class="form-control" id="password" placeholder="Ingrese su password">
                </div>
                <div class="form-group col">
                  <label for="rememberPass">Confirmar password</label>
                  <input formControlName="confirmPassword" type="password" class="form-control" id="rememberPass" placeholder="Ingrese su password">
                </div>
              </div>

              <div class="row">
                <div class="col-12 float-right text-right">
                  <button type="button" (click)="getForm(ngForm.value)" class="btn btn-primary px-4">Registrarse</button>
                </div> 
              </div>
            </form>
          </div>
        </div>
    </div>
    
  </div>
</div>